{% extends "admin/admin.html" %}
{% block title %}Problems{% endblock %}

{% block style %}
<style>
    #list-container {
        display: grid;
        grid-template-columns: 80px 1fr 1fr 2fr 150px;
        gap: 10px;
        font-family: Arial, sans-serif;
        min-height: 50px;
        background-color: #1e1e1e;
        border-radius: 10px;
        padding: 10px;
        align-items: start;
        justify-items: stretch;
    }

    #headerText {
        font-size: 20px;
        padding-top: 5px;
        padding-bottom: 9px;
    }

    #listRow {
        min-height: 80px;
        max-height: 150px;
        border-right: solid 2px #111111;
    }
</style>
{% endblock %}

{% block content %}



{% if add or edit%}
ID {{ problem_id }}

<form method="POST">

    <input type="text" id="title" name="title" placeholder="Problem Title" required><br>
    <textarea id="description" name="description" placeholder="Description" rows="4" cols="50" required></textarea><br>
    <textarea id="example" name="example" placeholder="Examples" rows="4" cols="50" required></textarea><br>
    <textarea id="prefix" name="prefix" placeholder="Prefix" rows="4" cols="50" required></textarea><br>
    <textarea id="constraints" name="constraints" placeholder="Constraints" rows="4" cols="50" required></textarea><br>

    {% if add %}


    <button type="submit">Add Problem</button>

    {% else %}
    <button type="submit">Edit Problem</button><br>

    {% endif %}
</form>





{% endif%}


{% if not add and not edit%}
<h2>Problems</h2>

<div id="list-container">
    <div id="headerText">ID</div>
    <div id="headerText">Title</div>
    <div id="headerText">Examples</div>
    <div id="headerText">Description</div>
    <div id="headerText">Actions</div>
    {% for p in problems %}
    <div id="listRow">{{ p.id }}</div>
    <div id="listRow">{{ p.title }}</div>
    <div id="listRow">{{ p.examples }}</div>
    <div id="listRow">{{ p.description }}</div>
    <div id="listRow"> <a href="{{ url_for('delete_problem', id=p.id) }}">Delete</a>
        <a href="{{url_for('edit_problem', id=p.id) }}">Edit</a>
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('add_problem') }}">Add New Problem</a>





<!-- <table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>examples</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for p in problems %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.examples }}</td>
        <td>{{ p.description }}</td>
        <td>
            <a href="{{ url_for('delete_problem', id=p.id) }}">Delete</a>
            <a href="{{url_for('edit_problem', id=p.id) }}">Edit</a>
        </td>
    </tr>
    {% endfor %}

    
    {% endif %}



</table> -->


{% if edit %}
<h1>Problem Testcases</h1>
{% if not testcases[0] %}
{{id}}
{{testcases}}
<a href="{{ url_for('admin_testcases', problem_id=problem_id) }}">Add test case</a>

{% else %}
<a href="{{ url_for('admin_testcases', problem_id=testcases[0]['problem_id']) }}">Add test case</a>
{% endif %}

<table border="1">
    <tr>
        <th>ID</th>
        <th>Input</th>
        <th>Output</th>
    </tr>
    {% for t in testcases %}
    <tr>
        <td>{{t.id}}</td>
        <td>{{t.input}}</td>
        <td>{{t.expected}}</td>
    </tr>
    {% endfor %}
</table>
{% if not testcases %}
<h1>No Test cases </h1>
{% endif %}
{% endif %}
<script>
    window.onload = function () {
        refreshSlots("{{ problem_id }}"); // pass problem_id from Jinja
        console.log("aaa")
    }

    async function refreshSlots(problemId) {
        try {
            const res = await fetch(`/problem/${problemId}`, { cache: "no-store" });
            if (!res.ok) throw new Error("Failed to fetch problem " + problemId);
            const payload = await res.json();

            const p = payload.problem || {};

            // Get form fields
            const title = document.getElementById("title");
            const desc = document.getElementById("description");
            const example = document.getElementById("example");
            const constraints = document.getElementById("constraints");
            const prefix = document.getElementById("prefix");

            // Fill values
            if (title) title.value = p.title || "";
            if (desc) desc.value = p.description || "";
            if (example) example.value = p.examples || "";
            if (constraints) constraints.value = p.constraints || "";
            if (prefix) prefix.value = p.prefix || "";

        } catch (err) {
            console.error("error:", err);
        }
    }

</script>
{% endblock %}