{% extends "admin/admin.html" %}
{% block title %}Submissions{% endblock %}

{% block content %}

<h2>Recent Submissions</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>UniqID</th>
        <th>Problem ID</th>
        <th>User</th>
        <th>Verdict</th>
        <th>Created At</th>
        <th>Source Code</th>
        <td>Memory used</td>
        <td>Error</td>
        <td>Run time</td>
        <td>Language</td>
        <td>Testcases</td>

    </tr>
    {% for s in submissions %}
    <tr>
        <td>{{ s.subID }}</td>
        <td>{{ s.UniqID }}</td>
        <td>{{ s.problem_id }}</td>
        <td>{{ s.userID }}</td>
        <td>
            <pre>{{ s.status }}</pre>
        </td>
        <td>{{ s.subTime }}</td>
        <td>
            <pre>{{ s.code }}</pre>
        </td>
        <td>{{ s.memory }} Bytes</td>
        <td>
            <pre>{{ s.error }} </pre>
        </td>
        <td>{{ s.runtime }}ms</td>
        <td>{{ s.language }}</td>
        <td> <a href="{{ url_for('admin_SubTC', subId=s.UniqID) }}">See testcases</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}